/* Toggle btn */
.menu-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  width: 50px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
}

.menu-toggle:focus .line-item,
.menu-toggle:hover .line-item {
  transform: scale(1.1);
  background: #056ac2;
}
.menu-toggle:active .line-item {
  transform: scale(1);
}
.menu-toggle .line-item {
  display: block;
  width: 100%;
  height: 5px;
  background: #1e73be;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-toggle.open-m .line-item:nth-child(2) {
  display: none;
  opacity: 0;
}

.menu-toggle.open-m .line-item:first-child {
  transform: rotate(405deg);
}

.menu-toggle.open-m .line-item:last-child {
  transform: rotate(-405deg) translate(6px, -8px);
}
/* End toggle button */
.menu-hedermenu-container {
  position: absolute;
  left: 5%;
  right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  top: 100px;
  background-color: rgba(187, 187, 187, 0.9);
  display: none;
  opacity: 0;
  height: 0px;
  z-index: 999;
}

.menu-hedermenu-container.show-nav {
  display: block;
  animation: smenu 0.2s linear forwards;
}

@keyframes smenu {
  0% {
    height: 1px;
    opacity: 0;
  }
  30% {
    height: 200px;
    opacity: 0.4;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}

#primary-menu,
#primary-menu .sub-menu {
  list-style: none;
}

#primary-menu li,
#primary-menu .sub-menu li {
  display: block;
}

#primary-menu li a,
#primary-menu .sub-menu li a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#primary-menu .sub-menu li a {
  padding-left: 30px;
}

#primary-menu li a:hover,
#primary-menu .sub-menu li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

@media all and (min-width: 979px) {
  .menu-toggle {
    display: none;
  }

  .menu-hedermenu-container {
    display: block;
    position: relative;
    left: initial;
    right: initial;
    padding-left: 0px;
    padding-right: 0px;
    top: initial;
    background-color: transparent;
    opacity: 1;
    height: auto;
    z-index: 999;
  }

  #primary-menu {
    display: flex;
  }

  .menu-item-has-children {
    position: relative;
  }

  .menu-item-has-children::after {
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    content: "›";
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    transform: translateY(-40%) rotate(90deg);
  }

  .menu-item-has-children:hover::after {
    color: #fff;
  }

  #primary-menu .menu-item-has-children:hover .sub-menu {
    display: block;
  }

  #primary-menu .sub-menu {
    display: none;
    position: absolute;
    background: #ddd;
    min-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #primary-menu li a {
    padding-left: 10px;
    padding-right: 15px;
    border-bottom: none;
  }

  #primary-menu .sub-menu li a {
    padding-left: 10px;
  }
}
