body.single .header {
  margin-bottom: 20px;
}

.single-post {
  position: relative;
}

h1.single-post__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  max-width: 700px;
  color: #000;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1em;
}

.single-post__thumb {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  position: relative;
  width: 30vw;
  height: 20vw;
  min-width: 250px;
  min-height: 200px;
  max-width: 800px;
  overflow: hidden;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.single-post__data {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;

  & p {
    margin-bottom: 1em;
  }

  & a.profileLink {
    color: rgba(0, 117, 189, 1);
    text-decoration: none;

    &:hover {
      color: rgba(0, 117, 189, 0.6);
    }
  }
}
