.widget_categories {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px #ddd;
}

.widget_categories {
  & .widget-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.6em;
  }

  & ul {
    list-style: none;

    & li {
      margin-bottom: 0.5em;
    }

    & li a {
      color: #666;
      font-size: 1.6rem;
      font-weight: 400;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #000;
      }
    }
  }
}
