@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap");
/***************** 
Normalize CSS 
*****************/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/****************** 
  End Normalize 
  ******************/
/* main style */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  background-color: #fff;
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: #1e73be;
  text-transform: uppercase;
  font-weight: 600; }

h2 {
  font-size: 1.8rem;
  line-height: 1.2;
  color: #000;
  font-weight: bold;
  text-transform: uppercase; }

/* page-wrapper */
.page-wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 320px; }

/* container */
.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background: #ddd;
  margin-bottom: 80px; }

@media all and (min-width: 979px) {
  .header {
    height: 120px; }
  .header__flex {
    display: flex;
    padding-top: 15px;
    justify-content: space-between; } }

/*End Header */
/* Logo */
.logo {
  margin-right: auto; }

.logo .custom-logo-link {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden; }

.logo .custom-logo-link img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

@media all and (min-width: 979px) {
  /* Logo */
  .logo {
    margin-right: 20px; } }

/* firm name */
.firm-name {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -70px;
  text-align: center; }

.firm-name a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #1e73be;
  transition: all 0.3s ease-in-out;
  outline: none; }

.firm-name:active a,
.firm-name:hover a {
  color: #056ac2; }

.firm-name:active a {
  -webkit-transform: scale(0.9);
          transform: scale(0.9); }

@media all and (min-width: 979px) {
  .firm-name {
    position: absolute;
    left: 150px;
    top: 0px;
    right: initial;
    bottom: initial; } }

/* Toggle btn */
.menu-toggle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40px;
  width: 50px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none; }

.menu-toggle:focus .line-item,
.menu-toggle:hover .line-item {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #056ac2; }

.menu-toggle:active .line-item {
  -webkit-transform: scale(1);
          transform: scale(1); }

.menu-toggle .line-item {
  display: block;
  width: 100%;
  height: 5px;
  background: #1e73be;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out; }

.menu-toggle.open-m .line-item:nth-child(2) {
  display: none;
  opacity: 0; }

.menu-toggle.open-m .line-item:first-child {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg); }

.menu-toggle.open-m .line-item:last-child {
  -webkit-transform: rotate(-405deg) translate(6px, -8px);
          transform: rotate(-405deg) translate(6px, -8px); }

/* End toggle button */
.menu-hedermenu-container {
  position: absolute;
  left: 5%;
  right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  top: 100px;
  background-color: rgba(187, 187, 187, 0.9);
  display: none;
  opacity: 0;
  height: 0px;
  z-index: 999; }

.menu-hedermenu-container.show-nav {
  display: block;
  -webkit-animation: smenu 0.2s linear forwards;
          animation: smenu 0.2s linear forwards; }

@-webkit-keyframes smenu {
  0% {
    height: 1px;
    opacity: 0; }
  30% {
    height: 200px;
    opacity: 0.4; }
  100% {
    height: auto;
    opacity: 1; } }

@keyframes smenu {
  0% {
    height: 1px;
    opacity: 0; }
  30% {
    height: 200px;
    opacity: 0.4; }
  100% {
    height: auto;
    opacity: 1; } }

#primary-menu,
#primary-menu .sub-menu {
  list-style: none; }

#primary-menu li,
#primary-menu .sub-menu li {
  display: block; }

#primary-menu li a,
#primary-menu .sub-menu li a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

#primary-menu .sub-menu li a {
  padding-left: 30px; }

#primary-menu li a:hover,
#primary-menu .sub-menu li a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff; }

@media all and (min-width: 979px) {
  .menu-toggle {
    display: none; }
  .menu-hedermenu-container {
    display: block;
    position: relative;
    left: initial;
    right: initial;
    padding-left: 10px;
    padding-right: 10px;
    top: initial;
    background-color: transparent;
    opacity: 1;
    height: auto;
    z-index: 999; }
  #primary-menu {
    display: flex; }
  .menu-item-has-children {
    position: relative; }
  .menu-item-has-children::after {
    display: block;
    position: absolute;
    right: 5px;
    top: 50%;
    content: "›";
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    -webkit-transform: translateY(-40%) rotate(90deg);
            transform: translateY(-40%) rotate(90deg); }
  .menu-item-has-children:hover::after {
    color: #fff; }
  #primary-menu .menu-item-has-children:hover .sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px; }
  #primary-menu .sub-menu {
    display: none;
    position: absolute;
    background: #ddd;
    min-width: 200px; }
  #primary-menu li a {
    padding-left: 10px;
    padding-right: 15px;
    border-bottom: none; }
  #primary-menu .sub-menu li a {
    padding-left: 10px; } }

/* Post-item */
.post-item__link {
  width: 90%;
  height: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 3px #666; }

.post-item__link:focus {
  box-shadow: 0 0 4px 1px #e73050; }

.post-item {
  width: 100%; }

.post-item .post-img__wrap {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px; }

.post-item .post-img__wrap img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.post-item h2 {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  text-align: center;
  margin-bottom: 20px; }

.post-item .short_content {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: #666; }

@media all and (min-width: 979px) {
  .posts {
    width: 100%;
    position: relative; }
    .posts .container {
      width: 100%;
      height: auto; }
  .posts__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .post-item__link {
    max-width: 45%; } }

.main-content {
  margin-bottom: 40px; }

@media all and (min-width: 979px) {
  .main-content {
    display: flex; } }

#main-sidebar {
  display: none; }

@media all and (min-width: 979px) {
  #main-sidebar {
    display: block;
    width: 25%; } }

.widget_search {
  margin-bottom: 35px; }

.widget_search .widget-title {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.6em; }

.widget_search .search-form {
  position: relative;
  display: flex;
  justify-content: flex-start; }
  .widget_search .search-form label {
    flex-grow: 2; }
    .widget_search .search-form label input {
      width: 100%; }

.screen-reader-text {
  opacity: 0;
  position: absolute; }

.widget_search .search-field {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.8rem;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: none;
  margin-right: -1px; }
  .widget_search .search-field:focus {
    outline: 1px solid #e73050; }

.widget_search .search-submit {
  flex-grow: 2;
  border: none;
  outline: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ddd;
  color: #666; }
  .widget_search .search-submit:focus {
    outline: 1px solid #e73050; }

.widget_categories {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px #ddd; }

.widget_categories .widget-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.6em; }

.widget_categories ul {
  list-style: none; }
  .widget_categories ul li {
    margin-bottom: 0.5em; }
  .widget_categories ul li a {
    color: #666;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none; }
    .widget_categories ul li a:hover, .widget_categories ul li a:focus {
      color: #000; }

.widget_recent_entries {
  margin-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px #ddd; }

.widget_recent_entries .widget-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.6em; }

.widget_recent_entries ul {
  list-style: none; }
  .widget_recent_entries ul li {
    margin-bottom: 0.5em; }
  .widget_recent_entries ul li a {
    color: #666;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none; }
    .widget_recent_entries ul li a:hover, .widget_recent_entries ul li a:focus {
      color: #000; }

.posts-links {
  position: relative; }
  .posts-links .nav-links {
    display: flex;
    justify-content: flex-start; }

.nav-links .page-numbers {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 0 1px #666;
  color: #666; }
  .nav-links .page-numbers:hover, .nav-links .page-numbers:focus {
    background: #ddd; }

.page-numbers.current {
  background: #ddd; }

.footer {
  background: #191919;
  padding-top: 50px;
  padding-bottom: 20px; }
  .footer .footer__content {
    border-top: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px; }

@media all and (min-width: 979px) {
  #footer-sidebar {
    position: relative;
    display: flex; } }

.wpcw-widget-contact {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.6; }
  .wpcw-widget-contact .widget-title {
    position: absolute;
    opacity: 0; }
  .wpcw-widget-contact ul li strong {
    font-size: 2rem;
    line-height: 2.5em; }
  .wpcw-widget-contact ul li div a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s; }
    .wpcw-widget-contact ul li div a:hover, .wpcw-widget-contact ul li div a:focus {
      color: #07c; }
    .wpcw-widget-contact ul li div a:active {
      color: #0095ff; }

@media all and (min-width: 979px) {
  .wpcw-widget-contact {
    width: 80%; }
  .wpcw-widget-contact ul {
    display: flex;
    text-align: left; }
    .wpcw-widget-contact ul li {
      margin-right: 5%;
      width: 320px; } }

.sfsi {
  text-align: center;
  position: relative; }
  .sfsi .widget-title {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden; }

.norm_row.sfsi_wDiv {
  display: flex;
  justify-content: center;
  width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .norm_row.sfsi_wDiv .sfsi_wicons {
    margin: 10px; }

@media all and (min-width: 979px) {
  .sfsi {
    position: relative;
    min-width: 20%; } }

/*# sourceMappingURL=styles.css.map */
